<div class="row" *ngIf="currentCompany && paginatedData.length > 0; else noDataTemplate">
    <div class="col-12">
      <div id="report">
        <div class="report-header">
          <div>ตารางแสดงเวลาจัดส่งชิ้นงานจาก SANKO -> VENDOR</div>
          <div>{{ timer | date : "dd/MM/yyyy hh:mm:ss" }}</div>
        </div>
        <div class="report-body">
          <div class="summary-lists">
            <div class="summary-item">
              <div class="title">Total</div>
              <div class="count-box black-bg">{{ totalCount }}</div>
            </div>
            <div class="summary-item">
              <div class="title">Wait</div>
              <div class="count-box blue-bg">{{ waitCount }}</div>
            </div>
            <div class="summary-item">
              <div class="title">Wait(C)</div>
              <div class="count-box orange-bg">{{ waitCCount }}</div>
            </div>
            <div class="summary-item">
              <div class="title">Complete</div>
              <div class="count-box green-bg">{{ completeCount }}</div>
            </div>
            <div class="summary-item">
              <div class="title">Delay</div>
              <div class="count-box red-bg">{{ delayCount }}</div>
            </div>
            <div class="summary-item">
              <div class="title">Cancel</div>
              <div class="count-box cancel-bg">{{ cancelCount }}</div>
            </div>
          </div>

          <div id="company-information" *ngIf="allCompaniesData.length">

            <div *ngIf="currentCompany" class="container">
              <div class="company-name">บริษัท</div>
              <div class="value">{{ currentCompany.VDB_COMP }}</div>
            </div>
            <div class="container" *ngIf="currentCompany">
                <div class="title">คนขับ</div>
                <div class="value">{{ currentCompany.VDB_DRIVER }}</div>
            </div>
            <div class="container" *ngIf="currentCompany">
                <div class="title">ทะเบียนรถ</div>
                <div class="value">{{ currentCompany.VDB_CAR }}</div>
            </div>
            <div class="container" *ngIf="currentCompany">
              <div class="title">เวลา</div>
              <div class="value">{{ currentCompany.DISPLAY_TIME }}</div>
          </div>
            <div class="container" *ngIf="currentCompany">
                <div class="title">สถานะ</div>
                <div class="status" 
                [ngClass]="{
                  'complete': currentCompany.VDB_STATUS === '3',
                  'wait': currentCompany.VDB_STATUS === '1',
                  'waitc': currentCompany.VDB_STATUS === '2',
                  'delay': currentCompany.VDB_STATUS === '4',
                  'cancel': currentCompany.VDB_STATUS === '5'
                }">
                  <div *ngIf="currentCompany.VDB_STATUS === '1'">WAIT</div>
                  <div *ngIf="currentCompany.VDB_STATUS === '2'">WAITC</div>
                  <div *ngIf="currentCompany.VDB_STATUS === '3'">COMPLETE</div>
                  <div *ngIf="currentCompany.VDB_STATUS === '4'">DELAY</div>
                  <div *ngIf="currentCompany.VDB_STATUS === '5'">CANCEL</div>
                </div>
            </div>
          </div>

          <table id="report-table" class="">
            <thead>
              <tr>
                <th class="text-center">ลำดับ</th>
                <th class="text-center">สินค้า</th>
                <th class="">ชื่อสินค้า</th>
                <th class="text-center">จำนวน</th>
                <th class="text-center">หน่วยนับ</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let item of paginatedData; let i = index"
                [ngClass]="{
                  'wait': item.VDB_STATUS === '1',
                  'waitc': item.VDB_STATUS === '2',
                  'complete': item.VDB_STATUS === '3',
                  'delay': item.VDB_STATUS === '4',
                  'cancel': item.VDB_STATUS === '5'
                }"
              >
               <td class="text-center">{{ i + 1 }}</td>
                <td class="">{{ item.VDB_ITEM }}</td>
                <td class="">{{ item.PRODUCT_NAME }}</td>
                <td class="text-center">{{ item.VDB_QTY | number }}</td>
                <td class="text-center">{{ item.VDB_UM }}</td>
              </tr>
              <tr *ngIf="totalPages > 0">
                <td class="h-5 h2 text-center page" colspan="5">
                    Page {{ currentPage + 1 }}/{{ totalPages }}
                </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="report-footer">
          <div>เลือกหน้า</div>
          <div>
            <a routerLink="/" class="button-link acitve">SANKO -> VENDOR</a>
            <a routerLink="/outbound" class="button-link">VENDOR -> SANKO </a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- No Data Template -->
  <ng-template #noDataTemplate>
    <div class="col-12">
      <div id="report">
        <div class="report-header">
          <div>ตารางแสดงเวลาจัดส่งชิ้นงานจาก VENDOR -> SANKO</div>
          <div>{{ timer | date : "dd/MM/yyyy hh:mm:ss" }}</div>
        </div>
        <div class="report-body">

          <div class="summary-lists">
            <div class="summary-item">
              <div class="title">Total</div>
              <div class="count-box black-bg"> 0 </div>
            </div>
            <div class="summary-item">
              <div class="title">Wait</div>
              <div class="count-box blue-bg">0</div>
            </div>
            <div class="summary-item">
              <div class="title">Wait(C)</div>
              <div class="count-box orange-bg">0</div>
            </div>
            <div class="summary-item">
              <div class="title">Complete</div>
              <div class="count-box green-bg">0</div>
            </div>
            <div class="summary-item">
              <div class="title">Delay</div>
              <div class="count-box red-bg">0</div>
            </div>
            <div class="summary-item">
              <div class="title">Cancel</div>
              <div class="count-box cancel-bg">0</div>
            </div>
        </div>

          <table id="report-table" class="">
            <thead>
              <tr>
                <th class="text-center">สินค้า</th>
                <th class="">ชื่อสินค้า</th>
                <th class="text-center">จำนวน</th>
                <th class="text-center">หน่วยนับ</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="h-5 h2 text-center page" colspan="4">
                  No Data
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="report-footer">
          <div>เลือกหน้า</div>
          <div>
            <a routerLink="/" class="button-link">SANKO -> VENDOR </a>
            <a routerLink="/outbound" class="button-link acitve">VENDOR -> SANKO </a>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
