<div class="dashboard-fullscreen-grid-container">
  <div class="dashboard-datetime">{{ currentTime | date:'dd/MM/yyyy - HH:mm:ss' }}</div>
  <div class="dashboard-grid">
    <div class="grid-label assembly" (click)="navigateToViewWithStat('assembly', dashboardData.stats.assembly)">ASSEMBLY</div>
    <div class="grid-label painting" (click)="navigateToViewWithStat('painting', dashboardData.stats.painting)">PAINTING</div>
    <div class="grid-label metal" (click)="navigateToViewWithStat('metal', dashboardData.stats.metal)">METAL</div>
    <div class="grid-value assembly" (click)="navigateToViewWithStat('assembly', dashboardData.stats.assembly)">{{ dashboardData.stats.assembly }}</div>
    <div class="grid-value painting" (click)="navigateToViewWithStat('painting', dashboardData.stats.painting)">{{ dashboardData.stats.painting }}</div>
    <div class="grid-value metal" (click)="navigateToViewWithStat('metal', dashboardData.stats.metal)">{{ dashboardData.stats.metal }}</div>
  </div>
</div>
